@font-face {
    font-family: mainFont;
    src: url(fonts/Radio_Canada/RadioCanada-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: mainFont;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: inherit;
    height: 100%;
}

/* header ===============================================*/
#tab {
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2px;
    font-weight: 600;
    margin: 5px 5px;
    background-color: #e9c793;
    cursor: default;
    color: rgb(0, 0, 0);
    user-select: none;
}

.tab:hover {
    background-color: #c41616;
    color: white;
    transition: .5s background-color;
}

.tab:active {
    background-color: #500a0a;
}

/* footer ===================*/
#footer {
    height: 100px;
    background-color: #e9c793;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    color: #e6951b;
}

/* home page ===============================================*/
.home {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.homeContent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: fit-content(50px) fit-content(150px) 1fr;
    row-gap: 20px;
}

.headline {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 32px;
    border: 4px solid black;
    color: black;
    height: 50px;
    margin-bottom: 50px;
    width: 11em;
}

.aboutTitle {
    grid-row: 2/4;
    grid-column: 2/3;
    background: #ebd6b6c5;
    border-right: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 5px 0 0 5px;
    padding: 20px;
    font-weight: 100;
}

.aboutText {
    display: flex;
    align-items: start;
    grid-row: 2/4;
    grid-column: 3/6;
    background: #ebd6b6c5;
    border-radius: 0 5px 5px 0;
    padding: 20px;
    font-size: large;
    font-weight: 200;
}

.locationTitle {
    grid-row: 4/5;
    grid-column: 2/3;
    background: #ebd6b6c5;
    border-right: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 5px 0 0 5px;
    padding: 20px;
    font-weight: 100;
}

.locationText {
    display: flex;
    align-items: start;
    grid-row: 4/5;
    grid-column: 3/6;
    background: #ebd6b6c5;
    border-radius: 0 5px 5px 0;
    padding: 20px;
    font-size: large;
    font-weight: 200;
}

.hoursTitle {
    grid-row: 2/3;
    grid-column: 7/9;
    background: #ebd6b6c5;
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    font-weight: 100;
    margin-bottom: -20px;
}

.hoursText {
    display: flex;
    align-items: start;
    grid-row: 3/5;
    grid-column: 7/9;
    background: #ebd6b6c5;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    font-size: large;
    font-weight: 200;
    white-space: pre-line;
}

.backgroundImage {
    background-image: url(images/croissant.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
}

/* Menu page ====================================================*/
.menuContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuTitle {
    display: flex;
    justify-content: center;
    background: #ebd6b6c5;
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    font-weight: 100;
    width: 600px;
}

.menuText {
    display: flex;
    align-items: start;
    background: #ebd6b6c5;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    font-size: large;
    font-weight: 200;
    white-space: pre-line;
    width: 600px;
}

.backgroundImageMenu {
    background-image: url(images/dessert.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
}

/* Contact page ====================================================*/
.contactContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactTitle {
    display: flex;
    justify-content: center;
    background: #ebd6b6c5;
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    font-weight: 100;
    width: 600px;
}

.contactText {
    display: flex;
    align-items: start;
    background: #ebd6b6c5;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    font-size: large;
    font-weight: 200;
    white-space: pre-line;
    width: 600px;
}

.backgroundImageContact {
    background-image: url(images/meat.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
}